@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200&display=swap');*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    background: #141E30;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to right, #243B55, #141E30);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to right, #243B55, #141E30); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */


    font-family: 'Poppins', sans-serif;
    
}
.container{
    max-width: 960px;
    margin: 0 auto;
    
    
}
img{
    max-width: 100%;
}
.navbar{
    background-color: #FF7B6B;
    color: white;
    height: 60px;
    
}
.logo{
    font-size: x-large;
    font-weight: bold;
}
.navbar ul li{
    list-style: none;
    margin-left: 30px;
}
.navbar ul a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
}
.navbar .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}
.navbar .container ul{
    display: flex;   
}
.navbar a:hover{
    color: black;
}
.header{
    background-color: #FF8D68;
    color: white;
    min-width: 400px;
}
.header h1{
    margin-bottom: 20px;
    font-size: 3rem;
    font-weight: bold;
    line-height: 1.2;
}
.header .container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.header img{
    max-width: 400px;
}
.boxes .container{
    display: flex;
    justify-content: space-between;
}
.box{
    background-color: #FF8F69;
    color: white;
    border-radius: 10px;
    margin: 20px 10px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.6); 
    padding: 15px 20px;
}
h2{
    margin-bottom: 15px;
}
@media (max-width:768px){
    .header .container{
        flex-direction: column;
        text-align: center;
        padding-top: 20px;
    }
    .boxes .container{
        display: block;
        text-align: center;
    }
}
